* {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Maintain a ratio of 57:50 width:height */
.main {
  display: inline-flex;
  width: 58.14vw;
  height: 51vw;
  background-image: url('./resources/board/boardweb2.jpg');
  background-size: contain;
}

.rounds {
  width: 9%;
  height: 100%;
}

.rounds-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 95%;
  margin-left: 12%;
}

.rounds-container {
  width: 4.5vw;
  height: 4.5vw;
  margin-top: -11.5%;
  border-radius: 100%;
}

.rounds-token {
  background: url('./resources/tokens/red-circle.png');
  background-position: center;
  background-size: 130%;  
}

.main-left {
  width: 21%;
  height: 100%;
}

.main-objective {
  margin-top: 120%;
}

.crisis {
  margin-top: 10%;
}

.main-objective, .crisis {
  width: 100%;
  height: 32.5%;
  border-radius: 4%;
}

.main-right {
  width: 69%;
  height: 100%;
}

.main-right-top {
  margin-top: 4%;
  width: 100%;
  height: 20%;
}

.main-right-middle {
  display: inline-flex;
  width: 100%;
  height: 47%;
}

.main-right-bottom {
  display: inline-flex;
  width: 100%;
  height: 20%;
}


/* Colony Zombie Container Sizing and Spacing */
.main-right-top .colony-zombie-container {
  display: inline-flex;
  margin-left: 43.3%;
  margin-top: 1%;
}

.main-right-top .colony-zombie-container, .main-right-bottom .colony-zombie-container {
  height: 100%;
  width: 53%;
}

.main-right-middle .colony-zombie-container {
  margin-left: 16.5%;
  margin-top: 7.5%;
  width: 23%;
  height: 89%;
}

.main-right-bottom .colony-zombie-container {
  margin-left: 2%;
  margin-top: 1.5%;
}

/* Colony Zombie Container Sizing and Spacing */


/* Zombie Cluster Sizing and Shaping */
.main-right-top .zombie-cluster, .main-right-bottom  .zombie-cluster {
  display: inline-flex;
  width: 37%;
  height: 86%;
  margin-top: 4.4%;
  margin-left: 1%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-right-top .zombie-cluster:nth-of-type(2) {margin-top: 2%;}

.main-right-bottom  .zombie-cluster {
  display: inline-flex;
  width: 37%;
  height: 86%;
  margin-top: 1.4%;
  margin-left: 1%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-right-middle .zombie-cluster {
  display: flex;
  width: 100%;
  height: 37%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-right-top .zombie-slot:first-child, .main-right-bottom .zombie-slot:first-child {
  margin-top: 20%;
  margin-bottom: 20%;
}
/* Zombie Cluster Shaping */


/* Spacing between Zombie Clusters in Colony */
.main-right-top .zombie-cluster:first-child {margin-right: 19%;}
.main-right-middle .zombie-cluster:first-child {margin-bottom: 45%;}
.main-right-bottom .zombie-cluster:first-child {margin-right: 21%;}
/* Spacing between Zombie Clusters in Colony */


/* Zombie Slot Sizing */
.main-right-top .zombie-slot, .main-right-bottom .zombie-slot {
  width: 44%;
  height: 39%;
}

.main-right-middle .zombie-cluster .zombie-slot {
  width: 37%;
  height: 43%;
}
/* Zombie Slot Sizing */


/* Colony Survivors */
.colony-survivors {
  display: flex;
  flex-wrap: wrap;
  width: 61%;
  height: 100%;
  margin-top: 1%;
  margin-left: 1%;
  justify-content: space-around;
  align-items: center;
}

.colony-survivors .survivor-slot {
  width: 16.5%;
  height: 16.5%;
  border: 2px dashed lightgray;
}

.survivor-count {
  width: 18%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: rgba(255, 255, 255, .33)
}
/* Colony Survivors */


.colony-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 42%;
  height: 100%;
  font-size: 2em;
}

.colony-text p {text-align: center;}

.morale {
  width: 100%;
  height: 8%;
}

.morale-row {
  width: 72%;
  margin-left: 30%;
}

.morale-container {
  display: inline-block;
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  margin-left: -3.50%;
  margin-top: 2.4%;
}

.morale-token {
  background: url('./resources/tokens/blue-circle.png');
  background-position: center;
  background-size: 130%;
}

.loc-container {
  display: inline-block;
  width: 35vw;

}

.loc {
  display: inline-block;
  width: 17.05vw;
  height: 17.05vw;
  background-size: contain;
  clear: both;
}

.items-and-noise {
  height: 5.4vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.item-deck, .noise {
  width: 30%;
  text-align: center;
  background-color: #444;
  color: white;
  border-radius: 25%;
  opacity: 0.6;
}

.survivor-row {
  margin-top: 25%;
}

.zombie-row {
  margin-top: 8.5%;
}

.survivor-row, .zombie-row {
  display: inline-flex;
  justify-content: center;
  width: 99%;
  height: 2.5vw;
}

.survivor-slot, .zombie-slot {
  width: 17%;
  height: 100%;
  border-radius: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.survivor-slot {
  background-size: 200%;
  background-position: center 15%;
  transition: transform .2s;
}

.survivor-slot:hover {
  transform: scale(2);
  z-index: 2.5;
}

.police-station {background-image: url('./resources/board/01web1.jpg');}
.grocery-store {background-image: url('./resources/board/02web1.jpg');}
.school {background-image: url('./resources/board/03web1.jpg');}
.library {background-image: url('./resources/board/04web1.jpg');}
.hospital {background-image: url('./resources/board/05web1.jpg');}
.gas-station {background-image: url('./resources/board/06web1.jpg');}

.barricade {background-color: black;}
.zombie {background-image: url('./resources/tokens/zombie.jpg');}

.player-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.player-view h1 {
  width: 100%;
  text-align: center;
}

.player-view-card {
  width: 49vw;
  height: 69vw;
  border-radius: 6%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.character-10 {background-image: url('./resources/characters/10.jpg');}
.character-12 {background-image: url('./resources/characters/12.jpg');}
.character-14 {background-image: url('./resources/characters/14.jpg');}
.character-16 {background-image: url('./resources/characters/16.jpg');}
.character-18 {background-image: url('./resources/characters/18.jpg');}
.character-20 {background-image: url('./resources/characters/20.jpg');}
.character-22 {background-image: url('./resources/characters/22.jpg');}
.character-24 {background-image: url('./resources/characters/24.jpg');}
.character-26 {background-image: url('./resources/characters/26.jpg');}
.character-28 {background-image: url('./resources/characters/28.jpg');}
.character-30 {background-image: url('./resources/characters/30.jpg');}
.character-32 {background-image: url('./resources/characters/32.jpg');}
.character-34 {background-image: url('./resources/characters/34.jpg');}
.character-36 {background-image: url('./resources/characters/36.jpg');}
.character-38 {background-image: url('./resources/characters/38.jpg');}
.character-40 {background-image: url('./resources/characters/40.jpg');}
.character-42 {background-image: url('./resources/characters/42.jpg');}
.character-44 {background-image: url('./resources/characters/44.jpg');}
.character-46 {background-image: url('./resources/characters/46.jpg');}
.character-48 {background-image: url('./resources/characters/48.jpg');}
.character-50 {background-image: url('./resources/characters/50.jpg');}
.character-52 {background-image: url('./resources/characters/52.jpg');}
.character-54 {background-image: url('./resources/characters/54.jpg');}
.character-56 {background-image: url('./resources/characters/56.jpg');}
.character-58 {background-image: url('./resources/characters/58.jpg');}
.character-60 {background-image: url('./resources/characters/60.jpg');}
.character-62 {background-image: url('./resources/characters/62.jpg');}
.character-64 {background-image: url('./resources/characters/64.jpg');}
.character-66 {background-image: url('./resources/characters/66.jpg');}
.character-68 {background-image: url('./resources/characters/68.jpg');}

.item-food1-00 {background-image: url('./resources/items/00-food1.jpg');}
.item-fuel-00 {background-image: url('./resources/items/00-fuel.jpg');}
.item-junk-00 {background-image: url('./resources/items/00-junk.jpg');}
.item-medicine-00 {background-image: url('./resources/items/00-medicine.jpg');}
.item-pistol-01 {background-image: url('./resources/items/01-pistol.jpg');}
.item-food2-02 {background-image: url('./resources/items/02-food2.jpg');}
.item-outsiders2-03 {background-image: url('./resources/items/03-2outsiders.jpg');}
.item-libraryblueprints-04 {background-image: url('./resources/items/04-libraryblueprints.jpg');}
.item-adrenaline-05 {background-image: url('./resources/items/05-adrenaline.jpg');}
.item-lighter-06 {background-image: url('./resources/items/06-lighter.jpg');}

.main-objective1 {background-image: url('./resources/main/main01.jpg');}

.crisis {background-image: url('./resources/crisis/crisis01.jpg');}

